/* Common styles for both SignUp and Login components */
.loginFormSection {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 500vh;
    background-color: #f3921f;
  }
  
  .loginForm {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 80px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
    height: 50%;
    
    
  }
  
  .greeting {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  .welcome {
    font-size: 1.5rem;
    font-weight: lighter;
    color: #ffffff;
  }
  
  .inputField {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  .inputField::placeholder {
    color: #888;
  }
  
  .formOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .showPasswordWrapper {
    display: flex;
    align-items: center;
  }
  
  .checkbox {
    margin-right: 5px;
  }
  
  .showPasswordLabel {
    font-size: 0.9rem;
    color: #666;
  }
  
  .forgotPassword {
    color: #007bff;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  .forgotPassword:hover {
    text-decoration: underline;
  }
  
  .loginButton,
  .signUpButton {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .loginButton:hover,
  .signUpButton:hover {
    background-color: #0056b3;
  }
  
  .socialIcons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .socialIcon {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .followText {
    font-size: 1rem;
    color: #555;
    margin-top: 20px;
  }
  
  /* Specific styles for footer */
  .footer {
    background-color: #f3921f;
    padding: 40px;
    color: white;
    text-align: center;
  }
  
  .footer p {
    margin: 10px 0;
  }
  
  .footer .socialIcons {
    margin-top: 20px;
  }
  
  .footer .socialIcon {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    filter: invert(100%);
  }
  
  /* Media Queries for responsiveness */
  @media (max-width: 768px) {
    .loginForm {
      width: 90%;
      padding: 20px;
    }
  
    .footer {
      text-align: center;
    }
  }
  