/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header styling */
.header {
  background-color: #fda82d;
  height: 500px;
  position: relative;
}

.naviba {
  position:relative;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: rgba(255, 255, 255, 0.863);
  z-index: 1000;
}

.naviba.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Hamburger menu icon */
.menu-icon {
  display: none;
  cursor: pointer;
  flex-direction: column;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: #ff531c;
  margin: 2px 20px;
  transition: 0.4s;
}

.menu-icon.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.menu-icon.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -5px);
}

.navbar-links {
  display: flex;
}

.navbar-links ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.navbar-links li {
  margin-right: 30px;
}

.navbar-links a {
  text-decoration: none;
  color: #ff531c;
  font-weight: bold;
}

.navbar-links a:hover {
  color: #ff9644;
}

.cart-icon {
  color: #ff531c;
  font-size: 20px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  .menu-icon.open + .navbar-links {
    display: flex;
  }

  .navbar-links {
    position: absolute;
    display: none;
    top: 60px;
    right: 0;
    height: 40vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fffffff3;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }

  .navbar-links.active {
    transform: translateX(0);
  }

  .navbar-links ul {
    flex-direction: column;
  }

  .navbar-links li {
    margin-bottom: 25px;
  }

  .search-bar {
    bottom: 10px;
    right: 10px;
  }
}
