.sidebar {
  width: 240px;
  background-color: #eb8100;
  padding: 30px 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu-item {
  padding: 15px;
  margin: 10px 0;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 12px;
}

.menu-item:hover, .menu-item.active {
  background-color: #9e5700;
}

.cart-message {
  background-color: #4e5566;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.cart-button {
  background-color: #f67a21;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-button:hover {
  background-color: #f59a42;
}
